<% if @user.errors.any? %>
	<div id="error_explanation">
			<%= t 'general.form_error' %>
	</div>
<% end %>

<%= form_for @user do |f| %>
	<p>
		<%= f.label :nome %>
		<%= f.text_field :nome %>
		<%= error_tag @user, :nome %>
	</p>
	<p>
		<%= f.label :local %>
		<%= f.text_field :local %>
		<%= error_tag @user, :local %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
		<%= error_tag @user, :email %>
	</p>
	<p>
		<%= f.label :senha %>
		<%= f.password_field :senha %>
		<%= error_tag @user, :senha %>
	</p>
	<p>
		<%= f.label :senha_confirmation %>
		<%= f.senha_field :senha_confirmation %>
		<%= error_tag @user, :senha_confirmation %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

