<p id="notice"><%= notice %></p>

<h1><%= t '.nome', user_nome: @user.nome %></h1>

<ul>
	<li><%= t '.local', local: @user.local %></li>
</ul>

<%= link_to t('.edit'), edit_user_path(@user) %>

<%= link_to 'Home', root_path %>
