<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @celulare.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @celulare.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @celulare.description %>
</p>

<p>
  <strong>Invoke:</strong>
  <%= @celulare.invoke %>
</p>

<p>
  <strong>Active record:</strong>
  <%= @celulare.active_record %>
</p>

<%= link_to 'Edit', edit_celulare_path(@celulare) %> |
<%= link_to 'Back', celulares_path %>
